[Desktop Entry]
Encoding=UTF-8
Name=AceD Core
Comment=AceD P2P Cryptocurrency
Comment[de]=Verbinde mit dem AceD peer-to-peer Netzwerk
Comment[fr]=AceD, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AceD, eşten eşe kriptografik sanal para birimi
Exec=aced-qt %u
Terminal=false
Type=Application
Icon=aced128
MimeType=x-scheme-handler/aced;
Categories=Office;Finance;
